:host {
    display: block;
    margin: 1vmin; 
    border-radius: 15px;
    box-shadow: 0 0 3vmin -1vmin;
    padding: 1vw;
    app-group {
        display: flex;
        flex-wrap: wrap;
        padding-top: .7em;
        align-items: flex-start;
    }
    .parameter {
        padding-top: 1vh;
        .label {
            color: #777;
            font-size: 70%;
        }
        &.right-space {
            padding-right: 3vw;
        }
    }
    .value {
        display: flex;
        input {
            min-width: 30px;
            max-width: 50px;
        }
        .unit {
            padding: 0 .2em;
        }
    }
}