<app-group [title]="'Экран'" class="screen">
	<div class="parameter right-space">
		<div class="label">Ширина</div>
		<label class="value">
			<input type="text" [(ngModel)]="width" (focus)="onInputFocus($event)" (copy)="copyToBuffer($event)">
			<span class="unit underline">px</span>
		</label>
	</div>
	<div class="parameter">
		<div  class="label">Высота</div>
		<label class="value">
			<input type="text" [(ngModel)]="height" (focus)="onInputFocus($event)" (copy)="copyToBuffer($event)">
			<span class="unit underline">px</span>
		</label>
	</div>
</app-group>
<app-group [title]="'Значения'" class="converter">
	<label class="parameter right-space value" [title]="'Конвертер'" >
		<input type="text" [(ngModel)]="px" (focus)="onInputFocus($event)" (copy)="copyToBuffer($event)">
		<span class="unit underline">px</span>
	</label>
	<div>
		<label class="parameter value">
			<input type="text" [(ngModel)]="vw" (focus)="onInputFocus($event)" (copy)="copyToBuffer($event, 'vw')">
			<span class="unit underline">vw</span>
		</label>
		<label class="parameter value">
			<input type="text" [(ngModel)]="vh" (focus)="onInputFocus($event)" (copy)="copyToBuffer($event, 'vh')">
			<span class="unit underline">vh</span>
		</label>
	</div>
</app-group>

