<app-group [title]="'Экран'" class="screen">
	<div class="parameter">
		<div class="label">Ширина</div>
		<div class="value">
			<input type="text" [(ngModel)]="width" (focus)="onInputFocus($event)">
			<span class="unit underline">px</span>
		</div>
	</div>
	<div class="parameter">
		<div  class="label">Высота</div>
		<div class="value">
			<input type="text" [(ngModel)]="height" (focus)="onInputFocus($event)">
			<span class="unit underline">px</span>
		</div>
	</div>
</app-group>
<app-group class="converter">
	<div class="parameter value" [title]="'Конвертер'" >
		<input type="text" [(ngModel)]="px" (focus)="onInputFocus($event)">
		<span class="unit underline">px</span>
	</div>
	<div>
		<div class="parameter value">
			<input type="text" [(ngModel)]="vw" (focus)="onInputFocus($event)">
			<span class="unit underline">vw</span>
		</div>
		<div class="parameter value">
			<input type="text" [(ngModel)]="vh" (focus)="onInputFocus($event)">
			<span class="unit underline">vh</span>
		</div>
	</div>
</app-group>

